# Ignore Everything In This Folder And Below
/*

# Don't ignore our Git stuff
!.gitignore
!Readme.md

# Don't Ignore These SubDirectories
!/gamedata/
!/appdata/
!/MyMods/

# Ignore These SubSubDirectories
/appdata/logs/*
/appdata/savedgames/*
/appdata/shaders_cache/*

#Ignore These Particular Files
/appdata/tmp.ltx